<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
        <title>Just Cafe</title>
        <link rel='stylesheet' type="text/css" href="style.css" />
        <meta name="viewport" content = "width = device-width, initial-scale=1">
    </head>
    <body>


<!-- header section -->
<header>
    <div class="logo">
        <img src="just-cafe-high-resolution-logo.webp" alt="Just Cafe Logo">
    </div>
    <nav>
        <ul>
            <li id="menu_li"><a href="index">Home</a></li>
            <li id="menu_li"><a href="menu">Menu</a></li>
            <li id="menu_li"><a href="about">About</a></li>
            <li id="menu_li"><a href="order">Order</a></li>
            <li id="menu_li"><a href="contact">Contact Us</a></li>
            <li id="menu_li"><a href="login">Login</a></li>
        </ul>
    </nav>
</header>
<!-- photo gallery -->
        <div class="responsive">
              <div class="gallery">
                  <img src="Food5.png" alt="Honey Chilli Potatato" width="600" height="400">
              </div>
            </div>


            <div class="responsive">
              <div class="gallery">
                  <img src="Food6.png" alt="Burger" width="600" height="400">
              </div>
            </div>

            <div class="responsive">
              <div class="gallery">
                  <img src="Food7.png" alt="White Sauce Pasta" width="600" height="400">
              </div>
            </div>

            <div class="responsive">
              <div class="gallery">
                  <img src="Food8.png" alt="Spring Rolls" width="600" height="400">
              </div>
            </div>

<!-- line break -->
							<hr hr size="6px" width="90%" color=#ED7117>

<!-- location section -->
        <div class="row">
          <div class="column" style="background-color:#fff;">
                <div class='text-title' >
                    Location
                </div>
								<div class='hours' >
										11:00 am - 10:00 pm Daily+
								</div>
								<div class="map-responsive">+
<iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d418.46488527180503!2d78.0420489442205!3d30.324361514180953!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390929ea8237e383%3A0xdeee99414e4d61ab!2sJust%20Cafe!5e0!3m2!1sen!2sin!4v1710910793975!5m2!1sen!2sin"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>								</div>
          </div>


<!-- review section -->
          <div class="column" style="background-color:#fff;">
                <div class='text-title' >
                    Reviews
                </div>
                <div class='review-name' >
                    Ananya Sharma.
                </div>
                <div class='review-body' >
                    This place is amazing!
                    All the waitressees are so welcoming and the food is too
                    good to pass up. I really enjoyed the cozy vibe I got from
                    the place. If you go, you HAVE to try the+ iced coffee.
                </div>
                <div class='review-name' >
                    Rahul Singh.
                </div>
                <div class='review-body' >
                    So delicious.  I am usually very picky about my coffee, and
                    this quaint establishment blew my expectations away.  My breakfast
                    was some of the best I have had in a long time and I can't
                    wait to come back.
                </div>
            </div>
        </div>

<!-- line break -->
					<hr hr size="6px" width="90%" color=#ED7117>

<!-- footer -->
				<div id='bottom'>
					<div class= 'contact-info'>
							+91-8997223312
							&nbsp
							justcafe@gmail.com
							&nbsp
							@Just_Cafe
							<a style = 'text-align: right' href="order">Order</a>
						</div>
				</div>


    <body>
</html>
