<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Just Cafe</title>
        <link rel='stylesheet' type="text/css" href="style.css" />
        <meta name="viewport" content="width = device-width, initial-scale=1">
        <style type="text/css">
		body {
		  background-image: url('wp3478887.webp');
		  background-attachment: fixed;
		  background-size: 100%;
		  position: relative;
		}
        </style>
    </head>
    <body>


<!-- header section -->
        <div id='top'>
					<div class='ss-text' >
							<a id="title" href="index.html" style="text-decoration: none;">Just Cafe</a>
					</div>
						<a href="index.html">Home</a>
            <a style="
						background-color: rgba(255, 255, 255, 0.5);
					  text-align: center;
					  text-decoration: none;
					  display: inline-block;
						"href="menu.html">Menu</a>
            <a href="contact.html">Contact Us</a>
            <a href="about.html">About Us</a>
						<a href="order.html">Order</a>
        </div>



<!-- line break -->
							<hr hr size="6px" width="90%" color=#ED7117>


<!-- Menu section -->
        <div id='menu'>
                <div class='text-title' >
                    Menu
                </div>
                <div class='menu-title' >
                    Drinks
                </div>
                <div class='menu-items' >
                  <ul>
                    <li>Cafe Latte <span class='menu-price' > 70/115  </span> </li>
                    <li>Black Tea <span class='menu-price' > 50  </span> </li>
                    <li>Mint Mojito <span class='menu-price' > 110  </span> </li>
                    <li>Shake (mango,chocolate,vanilla,strawberry,butterscotch)<span class='menu-price' > 110  </span> </li>
                  </ul>
                </div>
                <div class='menu-title' >
                    Breakfast
                </div>
                <div class='menu-items' >
                  <ul>
                    <li>Just Cafe Special Pasta<span class='menu-price' > 165 </span> </li>
                    <li>Veg Burger  <span class='menu-price' > 50  </span> </li>
                    <li>Garlic Bread/Cheese  <span class='menu-price' > 80/115  </span> </li>
                    <li>Veg Sandwich(Plain/Grilled) <span class='menu-price' > 95/115  </span> </li>
                    <li>Maggie <span class='menu-price' > 60  </span> </li>
                    <li>Veg Momos  <span class='menu-price' > 80  </span> </li>
                  </ul>
                </div>
                <div class='menu-title' >
                    Lunch
                </div>
                <div class='menu-items' >
                  <ul>
                    <li>Manchurian + Noodle/Fried Rice Combo <span class='menu-price' > 240  </span> </li>
                    <li>Chilli Paneer + Noodle/Fried Rice Combo <span class='menu-price' > 250  </span> </li>
                    <li>Grilled Chicken <span class='menu-price' > 250  </span> </li>
                    <li> Baked Pasta White Sauce <span class='menu-price' > 210  </span> </li>
                    <li> Caesar Salad <span class='menu-price' > 200  </span> </li>
                    <li> Just Cafe Special Burger <span class='menu-price' > 115  </span> </li>
                    <li> Margherita Pizza<span class='menu-price' > 99/189/369 </span> </li>
                    <li> Paneer Tikka Sandwich <span class='menu-price' > 160  </span> </li>
                  </ul>
                </div>
          </div>


<!-- line break -->
					<hr hr size="6px" width="90%" color=#ED7117>

<!-- footer -->
				<div id='bottom'>
					<div class= 'contact-info'>
              +91-8997223312
              &nbsp
              justcafe@gmail.com
              &nbsp
              @Just_Cafe
							<a style = 'text-align: right' href="order.html">Order</a>
						</div>
				</div>


    <body>
</html>
